.tw-follow-card {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rm;
    justify-content: space-between;
}   

/* .tw-follow-card + .tw-follow-card { /*un elemento junto a otro
    margin-top: 16px;
} */

.tw-follow-card-header {
    display: flex;
    align-items: center;
    gap: 4px;
}

article header div {
    display: flex;
    flex-direction: column;
}

.tw-follow-card-infoUserName {
    opacity: .5;
}

.tw-follow-card-avatar {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.tw-follow-button {
    cursor: pointer;
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    border: 1px solid black;
    transition: .3s ease bavkground-color;
}

.tw-follow-button:hover {
    opacity: 0.8;
}

.tw-FollowCard-text {
    display: block;
}

.tw-follow-button.is-following {
    border: 1px solid #bbb;
    background: transparent;
    color:#fff;
    width: 140px;
}

.tw-follow-button.is-following:hover {
    background-color: rgba(255, 0, 0, 0.178);
    color: red;
    border: 1px solid red;
    transition: .3s ease all;
}


.tw-follow-button.is-following:hover .tw-FollowCard-text {
    display: none;
}

.tw-follow-button.is-following:hover .tw-FollowCard-stopFollow{
    display: block;
}


.tw-FollowCard-stopFollow {
    display: none;
}